.experience-card {
    border-radius: 12px;
    padding: 20px;
    margin: 15px 0;
    transition: background-color 0.3s ease;
    color: white;
    cursor: pointer;
  }
  
  .experience-card:hover {
    background-color: rgba(77, 77, 77, 0.2); /* Card transparent background */
    box-shadow: 0 -1px 5px rgba(255, 255, 255, 0.5); /* Sombreado en la parte superior */
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
  }
  
  .experience-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .experience-header:hover{
    
  }
  
  .experience-date span {
    font-size: 14px;
    color: #bbb;
  }
  
  .experience-title h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  
  .experience-description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  
  .tools {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .tool-pill {
    background-color: #204e3a88; /* Fondo verde oscuro */
    color: #a8f0c6; /* Texto verde claro */
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 14px;
    text-transform: capitalize;
    transition: background-color 0.2s ease, color 0.2s ease;
  }
  
  .tool-pill:hover {
    background-color: #204e3a; /* Fondo verde más claro al pasar el mouse */
    color: #a8f0c6;
}
  