body, html {
  width: 100%;
  height: 100%;
  font-family: 'Arial', sans-serif;
  margin: 0px;
  background-color: #0a0f29;
}

.degradeFondo{
  background-color: #0a0f29;
  min-height: 100vh;
  display: flex;
  position: relative;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.degradeFondo::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0, 100, 255, 0.2) 0%, #0a0f29 20%);
  pointer-events: none;
  transition: background 0.1s;
  z-index: 0;
}

.degradeFondo:hover::before {
  background: radial-gradient(circle at var(--x) var(--y), rgba(0, 100, 255, 0.2) 0%, #0a0f29 20%);
}

.right-panel {
  flex: 2 1 70%; 
  margin: 96px 0;
  width: calc(70% - 40px);
  margin-left: 30%;
  height: 100%;
  padding: 0 100px 0 230px; 
  color: #94a3b8;
  z-index: 1;
  box-sizing: border-box;
}

.left-panel {
  padding: 0 0 0 96px;
  width: 32%;
  height: calc(100% - 192px);
  margin: 96px 0 96px 0;
  color: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  box-sizing: border-box;
  flex: 1 1 30%;
  max-width: 450px;
}

.header {
  margin-bottom: auto;
}

.header h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: bold;
  color: #E2E8F0
}

.header h2 {
  margin: 5px 0;
  font-size: 1,5rem;
  font-weight: normal;
  font-weight: 550;
  color: #61DAFB;
}

.right-panel h3 {
  margin: 5px 0;
  font-size: 18px;
  font-weight: normal;
  font-weight: 550;
  color: #E2E8F0;
  padding-bottom: 20px;
}

.header p {
  color: #94a3b8;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.5;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons a {
  color: #94a3b8;
  font-size: 24px;
  text-decoration: none;
  transition: transform 0.2s, color 0.2s;
}

.social-icons a:hover {
  transform: scale(1.1);
  color: #61dafb;
}

.presentacion{
  padding-bottom: 80px;
}

.presentacion p{
  margin-top: 0px;
}

.ExperienceDiv{
  padding-bottom: 40px;
}

.ExperienceDiv:hover .experience-card {
  opacity: 0.5;
}

.ExperienceDiv .experience-card:hover {
  opacity: 1;
}

.ProyectDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 60px;
}

.empresa-link {
  color: #E2E8F0;
  text-decoration: none;
}

.empresa-link:hover {
  color: #61dafb;
  text-decoration: none;
}

.empresa-link .arrow {
  display: inline-block;
  transition: transform 0.2s ease;
}

.empresa-link:hover .arrow {
  transform: translate(5px, -5px);
}